[Desktop Entry]
Comment=
Path=/mnt/diska/apps/
Type=Application
Child=
Exec=ebook.app
Icon-id=
ICon=
Name-id=
Name=EBook
Name[zh_CN]=电子书
Name[zh_TW]=電子書
Name[en_GB]=EBook
Name[ja_JP]=電子ブック
Name[ko_KP]=전자책
Name[fr_FR]=Livre Électronique
Name[de_GE]=E-Buch
Name[it_IT]=Libro elettronico
Name[nl_NL]=E-boek
Name[pt_PT]=E-Livro
Name[es_PE]=E-libro
Name[sv_SE]=E-bok
Name[cs_CZ]=E-Knihy
Name[da_DK]=E-Bog
Name[pl_PL]=E-Books
Name[ru_RU]=Элек.книга
Name[tr_TR]=Elektronik kitap
Name[he_IL]=ספר אלקטרוני
Name[th_TH]=อี-หนังสือ
Name[hu_HU]=E-könyv
Name[ro_RO]=E-Carte
Name[ar]=كتب الكترونية 
Name[id_ID] = Ebook
Name[el_EG] =Ε Βιβλίο

